/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
 
 
}

body {
  overflow-x: none
  ;
}



:root {
  --primary-bg-color: rgb(48, 48, 48);
  --secondary-bg-color: rgb(242, 242, 242);
  --yellow-color: rgb(251, 151, 1);
  --card-bg-color: #f1f5f9;
}


/* navbar styles */

.nav_container {
  width: 100vw;
  
  background-color: var(--primary-bg-color);
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 
  
}

#nav_box {
  display: none;
}
.nav_head {
  color: white;
  padding: 0.8rem 2rem;
}

.navbar {
  padding: 0.8rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav_container .nav_head {
  font-weight: 700;
  font-size: 2rem;
}
.hamburger {
  display: none;
}

span {
  color: var(--yellow-color);
}

.navbar .nav_links {
  padding: 1rem;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}

.navbar .nav_links:hover {
  color: var(--yellow-color);
  text-decoration: underline;
}

.Landingpage {
  background-color: var(--primary-bg-color);
  text-shadow: 2px 2px black;
 overflow: hidden;
  height: 50rem;
  width: 100vw;

}

.Landingpage h1 {
  font-size: 12vw;
  font-weight: 900;
  margin-left: 1rem;
  text-align: left;
 
  
}

/* hero-section */

.hero_section {
  background-color: var(--yellow-color);
  margin-inline: auto;
 

  width: 100%;
  height: 35rem;

  overflow: hidden;
padding: 4rem;
}



h1,
p {
  color: white;
  letter-spacing: 2px;
  text-align: center;
 
}


h1 {
  font-weight: bolder;
  font-size: 6vw;
  text-align: center;
  letter-spacing: 2px;
}
.hero_section p {
  font-weight: 500;
  margin-top: 2rem;
  font-size: 1.7vw;
  line-height: 2;
  letter-spacing: 2px;
}

/* //footer section */

.footer {
  color: white;
  background-color: var(--primary-bg-color);
  height: 100px;
  overflow: hidden;
}

.footer_links {
  width: 25%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_links i {
  font-size: 50px;
  padding: 0.7rem;
}
.footer_box {
  height: 100%;
  overflow: hidden;
}

/* // contact form */

#contact {
  width: 100%;
  background-color: var(--primary-bg-color);
  height: 35rem;
}
.contact_form {
  height: 100%;
  color: black;
  background-color: transparent;
 

}
.contact_form input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-block: 0.8rem;
  
}
.contact_form label {
  
  color: rgb(255, 255, 255);
}

.contact_form button:hover {
  background-color: rgb(95, 115, 244);
}

/* // services  */
.service_container {
  background-color: var(--primary-bg-color);
}

.service_text {
 
  font-size: 6vw;
  margin-inline: auto;
}

.service_container p {
  font-size: 1.7vw;
}
/* // projects  */
.Projects_container {
  width: 100%;
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  
  
}
#black {
  color: var(--primary-bg-color);
}
#projects {
  background-color: var(--yellow-color);
}
.Project {
width: 20vw;
  background-color: var(--card-bg-color);
  height: 25rem;
  margin-inline: .2rem;
  position: relative;
  border-radius: 10px;
 
}

.Project img {
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
}

.Project a {
  color: rgb(25, 25, 25);
  border: 1px white;
  font-size: 1.5vw;
  position: absolute;
  overflow: hidden;
  width: 80%;
  bottom: .2vw;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.Project a::before {
  content: "Link ";
}
.Project a:hover {
  color: rgb(33, 65, 245);
}
.Project p {
  font-size: 1.7vw;
}

/* // scrollbar styles */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-bg-color); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}




/* // responsiveness */
@media only screen and (max-width: 774px) {
  /* CSS rules for mobile devices */
  .navbar {
    display: none;
  }
  #nav_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #nav_box a {
font-size:2.5vw; 
padding: 5px 20px;
  }
  .hamburger {
    color: white;
    display: block;
    font-size: 1.8em;
    
  }
  .hamburger:hover {
    color: var(--yellow-color);
  }
 .Landingpage {
  height: 30rem;
 }
  .nav_container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 1rem;
  }

  /* // service containerk */
  .service_container .frontend_container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
  .service_container .Backend_container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
   direction: rtl;
  }
  /* // about section  */
  .hero_section {
    height: auto;
    width: 100vw;
  }

  /* // project container */
  .Projects_container {
   row-gap: 16px;
 
  }
  .Project {
    width: 40%;
    height: 16rem;

  }
}