/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--font-rubik);
 
}

body {
  overflow-x: hidden;
}

:root {
  --primary-bg-color:   rgb(15 23 42 );
  --secondary-bg-color:  rgb(24, 36, 64);
  
  --yellow-color: rgb(251, 151, 1);
  --card-bg-color: #f1f5f9;
}

/* navbar styles */


/* hero-section */


/* //footer section */

.footer {
  color: white;
  background-color: var(--primary-bg-color);
  height: 100px;
  overflow: hidden;
}

.footer_links {
  width: 25%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer_links i {
  font-size: 50px;
  padding: 0.7rem;
}
.footer_box {
  height: 50vh;
  overflow: hidden;
}

/* // contact form */

#contact {
  width: 100%;
  background-color: var(--primary-bg-color);
  height: 35rem;
}
.contact_form {
  height: 100%;
  color: black;
  background-color: transparent;
}
.contact_form input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-block: 0.8rem;
  background-color:  rgb(51, 64, 93);
  color: #818080;
}
.contact_form textarea {
  background-color:rgb(51, 64, 93);
  color: #818080;
}
 
.contact_form input:focus {
  background-color: white;
}
.contact_form textarea:focus {
  background-color: white;
}
.contact_form label {
  color: rgb(255, 255, 255);
}

.contact_form button:hover {
  background-color: rgb(95, 115, 244);
}

/* // services  */
.service_container {
  background-color: var(--primary-bg-color);
}

.service_text {
  font-size: 6vw;
  margin-inline: auto;
}

.service_container p {
  font-size: 1rem;
  font-weight: 300;

}
/* // projects  */

/* skills */

/* // scrollbar styles */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-bg-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #080808;
}


@media screen and (max-width : 900px) {
  .contact_form {
    width: 80%;
  }
  
}

@media screen and (max-width : 600px) {
  .contact_form {
    width: 90%;
  }
  .top {
    flex-direction: column;
  }
  .top .c_left, .c_rigjt {
    width: 100%;
  }
  .contact_head {
    font-size: 2.4rem;
  }
  
}
